@font-face {
  font-family: Montserrat-Regular;
  src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2') format('woff2');
  font-weight: 400 !important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aXo.woff2') format('woff2');
  font-weight: 600 !important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2') format('woff2');
  font-weight: 700 !important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat-Light;
  src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw5aXo.woff2') format('woff2');
  font-weight: 300 !important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2') format('woff2');
  font-weight: 500 !important;
  font-style: normal;
  font-display: swap;
}