@import 'src/app/styles/global';

.script-list-page {
  padding-top: 20px;
  height: $global-content-height;

  &__container {
    max-height: calc($global-content-height - 50px);
  }

  &__navigation {
    text-align: center;
    margin-top: 20px;
  }

  &__not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    a {

    }
  }
}